# coding: utf-8

# flake8: noqa

{{>partial_header}}

from __future__ import absolute_import

# import pagination into pagination package
from {{packageName}}.pagination.page_iterator import PageIterator
from {{packageName}}.pagination.event_iterator import EventIterator
