# coding: utf-8

{{>partial_header}}

import os
from setuptools import setup, find_packages  # noqa: H301

NAME = "{{{projectName}}}"
VERSION = "{{packageVersion}}"
with open(os.path.join(os.path.dirname(__file__), 'README.md')) as readme:
    LONG_DESCRIPTION = readme.read()
{{#apiInfo}}
{{#apis}}
{{^hasMore}}
# To install the library, run the following
#
# python setup.py install
#
# prerequisite: setuptools
# http://pypi.python.org/pypi/setuptools

REQUIRES = [
    "certifi>=2017.4.17",
    "python-dateutil>=2.1",
    "six>=1.10",
    "urllib3>=1.23"
]
    
{{#asyncio}}
REQUIRES.append("aiohttp")
{{/asyncio}}
{{#tornado}}
REQUIRES.append("tornado")
{{/tornado}}

setup(
    name=NAME,
    version=VERSION,
    description="{{appName}}",
    long_description=LONG_DESCRIPTION,
    long_description_content_type='text/markdown',
    author='Asana, Inc',
    url="http://github.com/asana/python-asana",
    keywords=["asana", "{{appName}}"],
    install_requires=REQUIRES,
    packages=find_packages(),
    include_package_data=True,
    license='MIT',
)
{{/hasMore}}
{{/apis}}
{{/apiInfo}}
