# coding=utf-8
{{#operations}}
class _{{classname}}:

    def __init__(self, client=None):
        self.client = client
{{#operation}}
{{#contents}}

    def {{operationId}}(self, {{#pathParams}}{{paramName}}, {{/pathParams}}params={}, **options):
        """{{#summary}}{{{.}}}{{/summary}}{{^summary}}{{operationId}}{{/summary}}
        {{#pathParams}}
        :param {{dataType}} {{paramName}}:{{#required}} (required){{/required}}{{#optional}}(optional){{/optional}}{{#description}} {{{description}}}{{/description}}
        {{/pathParams}}
        :param Object params: Parameters for the request
        {{#eq "GET" httpMethod}}
        {{#queryParams}}
            - {{paramName}} { {{~dataType~}} }: {{#required}} (required){{/required}}{{#optional}}(optional){{/optional}}{{#description}} {{{description}}}{{/description}}
        {{/queryParams}}
        {{/eq}}
        {{#eq "POST" httpMethod}}
        {{/eq}}
        {{#eq "PUT" httpMethod}}
        {{/eq}}
        :return: Object
        """
        path = "{{path}}"{{#pathParams}}.replace("{ {{~baseName~}} }", {{paramName}}){{/pathParams}}
        return self.client.{{#neq "GET" httpMethod}}{{toLowerCase httpMethod}}{{/neq}}{{#eq "GET" httpMethod}}{{returnContainer}}{{/eq}}(path, params, **options)

{{/contents}}
{{/operation}}
{{/operations}}
